In [1]:
import seaborn as sns
df = sns.load_dataset('geyser')
df

     duration  waiting   kind
0       3.600       79   long
1       1.800       54  short
2       3.333       74   long
3       2.283       62  short
4       4.533       85   long
..        ...      ...    ...
267     4.117       81   long
268     2.150       46  short
269     4.417       90   long
270     1.817       46  short
271     4.467       74   long

[272 rows x 3 columns]

In [3]:
x_geyser = df.drop('kind' , axis = 1)
x_geyser

     duration  waiting
0       3.600       79
1       1.800       54
2       3.333       74
3       2.283       62
4       4.533       85
..        ...      ...
267     4.117       81
268     2.150       46
269     4.417       90
270     1.817       46
271     4.467       74

[272 rows x 2 columns]

In [5]:
y_geyser = df['kind']
y_geyser

0       long
1      short
2       long
3      short
4       long
       ...
267     long
268    short
269     long
270    short
271     long
Name: kind, Length: 272, dtype: object

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
xtrain , xtest , ytrain , ytest = train_test_split(x_geyser , y_geyser , random_state = 1)
xtrain

     duration  waiting
187     1.833       46
132     2.800       56
48      4.633       82
168     1.933       52
33      4.033       80
..        ...      ...
203     1.867       53
255     3.817       80
72      4.500       79
235     1.883       54
37      4.833       80

[204 rows x 2 columns]

In [8]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [9]:
model.fit(xtrain , ytrain)

GaussianNB()

In [10]:
y_model = model.predict(xtest)

In [11]:
from sklearn.metrics import accuracy_score
accuracy_score(ytest , y_model)

0.9852941176470589