In [5]:
i_know = {'first_name': 'Ali', 'last_name': 'Mansur', 'age': 18, 'City': 'Almaty' }
print(i_know)

{'first_name': 'Ali', 'last_name': 'Mansur', 'age': 18, 'City': 'Almaty'}

In [6]:
name_number = {'Kira': 1 , 'Nurs': 2 , 'Asik': 3, 'Zhadi': 4, 'Alik': 5}
print(name_number)

{'Kira': 1, 'Nurs': 2, 'Asik': 3, 'Zhadi': 4, 'Alik': 5}

In [16]:
cat = {'Type of animal': 'cat', 'owner name': 'Samal'}
dog = {'Type of animal': 'dog', 'owner name': 'Kairat'}
horse = {'Type of animal': 'horse', 'owner name': 'Kamshat'}

pets = [cat , dog, horse]

for i in pets:
    print("Type of animal:" , i["Type of animal"] + "," , "Owner name:" , i["owner name"])
    
for i in pets:
    print(i)

Type of animal: cat, Owner name: Samal
Type of animal: dog, Owner name: Kairat
Type of animal: horse, Owner name: Kamshat
{'Type of animal': 'cat', 'owner name': 'Samal'}
{'Type of animal': 'dog', 'owner name': 'Kairat'}
{'Type of animal': 'horse', 'owner name': 'Kamshat'}

In [17]:
cities = {
    "Париж": {
        "country": "France",
        "population": 10000000,
        "fact": "интересное сооружение Eiffel Tower"
    },
    "Рим": {
        "country": "Italy",
        "population": 5000000,
        "fact": "интересное сооружение Coliseum"
    },
    "Алматы": {
        "country": "Kazakhstan",
        "population": 2000000,
        "fact": "интересное сооружение Medeo"
    }
}

for city, city_info in cities.items():
    print(f"Город {city} расположен в стране {city_info['country']}, численность населения {city_info['population']}, {city_info['fact']}")

Город Париж расположен в стране France, численность населения 10000000, интересное сооружение Eiffel Tower
Город Рим расположен в стране Italy, численность населения 5000000, интересное сооружение Coliseum
Город Алматы расположен в стране Kazakhstan, численность населения 2000000, интересное сооружение Medeo

In [ ]:
car_choice = input("Какую машину вы хотели бы взять напрокат: ")

print(f"Хочу взять {car_choice} напрокат")

In [ ]:
plase = int(input("На сколько мест вы хотите забронировать стол в ресторане: "))

if plase > 8:
    print("Придется подождать")
else:
    print("Стол готов")

In [ ]:
number = int(input("Введите число: "))

if number % 10 == 0:
    print("Число кратно 10")
else:
    print("Число не кратно 10")