In [1]:
import pandas as pd
data = pd.Series([1,2,3,4,5])
data

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
data.values

array([1, 2, 3, 4, 5], dtype=int64)

In [4]:
data.index

RangeIndex(start=0, stop=5, step=1)

In [5]:
data[1] = 10
data

0     1
1    10
2     3
3     4
4     5
dtype: int64

In [6]:
data_2 = pd.Series([9,6,3,7] , index = ['a', 'b' , 'c', 'd'])
data_2

a    9
b    6
c    3
d    7
dtype: int64

In [8]:
data_2['b'] = 12
data_2

a     9
b    12
c     3
d     7
dtype: int64

In [12]:
data_3 = {'Роналду' : 'Аль-Наср' , 'Месси': 'Интер Майами', 'Неймар':'Аль-Хиляль', 'Нойер':'Бавария', 'Холанн':'МЧ'}
data_3

{'Роналду': 'Аль-Наср',
 'Месси': 'Интер Майами',
 'Неймар': 'Аль-Хиляль',
 'Нойер': 'Бавария',
 'Холанн': 'МЧ'}

In [13]:
football_player = pd.Series(data_3)
football_player

Роналду        Аль-Наср
Месси      Интер Майами
Неймар       Аль-Хиляль
Нойер           Бавария
Холанн               МЧ
dtype: object

In [14]:
football_player['Месси':'Нойер']

Месси     Интер Майами
Неймар      Аль-Хиляль
Нойер          Бавария
dtype: object

In [15]:
scalar_value = 10
pd.Series([scalar_value] * 5)

0    10
1    10
2    10
3    10
4    10
dtype: int64

In [16]:
data_3 = {'Роналду' : 'Аль-Наср' , 'Месси': 'Интер Майами', 'Неймар':'Аль-Хиляль', 'Нойер':'Бавария', 'Холанн':'МЧ'}
data_3

data_5 = {'Роналду':'ФРВ','Месси':'ФРВ','Неймар':'ЦАП','Нойер':'ЦАП','Холанн':'ЦФД'}
data_5

position_player = pd.Series(data_5)
position_player

Роналду    ФРВ
Месси      ФРВ
Неймар     ЦАП
Нойер      ЦАП
Холанн     ЦФД
dtype: object

In [17]:
player = pd.DataFrame({'Komonda' : football_player, 'Position': position_player})
player

              Komonda Position
Роналду      Аль-Наср      ФРВ
Месси    Интер Майами      ФРВ
Неймар     Аль-Хиляль      ЦАП
Нойер         Бавария      ЦАП
Холанн             МЧ      ЦФД

In [19]:
player.at['Месси', 'Position'] = 'oop'
player

              Komonda Position
Роналду      Аль-Наср      ФРВ
Месси    Интер Майами      oop
Неймар     Аль-Хиляль      ЦАП
Нойер         Бавария      ЦАП
Холанн             МЧ      ЦФД

In [20]:
import numpy as np

data_6 = pd.Series([1 , 2 , np.nan , 4 , None , 6])
data_6

0    1.0
1    2.0
2    NaN
3    4.0
4    NaN
5    6.0
dtype: float64

In [25]:
print(data_6.isnull())

0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool

In [26]:
print(data_6[~data_6.isnull()])

0    1.0
1    2.0
3    4.0
5    6.0
dtype: float64

In [27]:
data_6.dropna()

0    1.0
1    2.0
3    4.0
5    6.0
dtype: float64

In [29]:
filled_data = data_6.fillna(0)
print(filled_data)

0    1.0
1    2.0
2    0.0
3    4.0
4    0.0
5    6.0
dtype: float64

In [31]:
data_7 = pd.DataFrame({'A': [1, 2, np.nan, 4],
                       'B': [5, np.nan, 7, 8],
                       'C': [np.nan, 10, 11, 12],
                       'D': [13, 14, 15, 16]})
data_7

     A    B     C   D
0  1.0  5.0   NaN  13
1  2.0  NaN  10.0  14
2  NaN  7.0  11.0  15
3  4.0  8.0  12.0  16

In [34]:
data_dropped_rows = data_7.dropna(axis = 0)
print(data_dropped_rows)

     A    B     C   D
3  4.0  8.0  12.0  16

In [35]:
data_dropped_columns = data_7.dropna(axis = 1)
print(data_dropped_columns)

    D
0  13
1  14
2  15
3  16

In [36]:
data_forward_fill = data_7.fillna(method = 'ffill', axis =1)
print(data_forward_fill)

     A    B     C     D
0  1.0  5.0   5.0  13.0
1  2.0  2.0  10.0  14.0
2  NaN  7.0  11.0  15.0
3  4.0  8.0  12.0  16.0

In [37]:
data_backward_fill = data_7.fillna(method='bfill', axis=1)
print(data_backward_fill)

     A     B     C     D
0  1.0   5.0  13.0  13.0
1  2.0  10.0  10.0  14.0
2  7.0   7.0  11.0  15.0
3  4.0   8.0  12.0  16.0

In [38]:
data_forward_fill_columns = data_7.fillna(method='ffill', axis=0)
print(data_forward_fill_columns)

     A    B     C   D
0  1.0  5.0   NaN  13
1  2.0  5.0  10.0  14
2  2.0  7.0  11.0  15
3  4.0  8.0  12.0  16

In [39]:
data_backward_fill_columns = data_7.fillna(method='bfill', axis=0)
print(data_backward_fill_columns)

     A    B     C   D
0  1.0  5.0  10.0  13
1  2.0  7.0  10.0  14
2  4.0  7.0  11.0  15
3  4.0  8.0  12.0  16